
body{
	background-color: black;
}

.main{
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
}

.ryu{
	float:left;
	height: inherit;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool{
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool{
	display: none;
}

.ryu-ready{
	background-image: url("../images/ryu-ready-position.gif");
}

.ryu-still{
	background-image: url("../images/ryu-standing-still.png");
}

.ryu-throwing{
	background-image: url("../images/ryu-throwing-hadouken.png");
}

.ryu-cool{
	background-image: url("../images/ryu-cool.gif");
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool{
	background-repeat: no-repeat;
} 

.hadouken{
	background-image: url("../images/hadouken.gif");
	width: 156px;
	height: 90px;
	display: none;
	float: left;
	position: relative;
	top: 167px;
	left: -212px;
}

.logo{
	background-image: url("../images/street-fighter-logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	top: 10px;
	left: 20px;
	width: 150px;
	height: 200px;
}

footer{
	color: red;
	display: block;
	width: 200px;
	margin: 5px auto;
}

.controls{
	float: right;
	position: absolute;
	top: 300px;
	right: 50px;
	width: 500px;
	height: 250px;
	font-family: 'Permanent Marker', cursive;
}

.controls h2 {
	font-size: 2em;
	padding: 10px;
	text-align: center;
}

.controls p{
	font-size: 1.50em;
	padding-left: 30px;
	margin-top: 20px;
}

.controls span{
	color: red;
}
	
